.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin: 10px;
}

.btn-info {
  margin: 10px;
}

.newContainer {
  margin: 10px;
}

.para {
  line-height: 20px;
}

ul {
  text-decoration: none;
  list-style: none;
}

.btn-success {
  margin: 10px;
}

.btn-danger {
  margin: 10px;
}

.list-item {
  margin: 10px;
}

.navbar {
  margin-top: 20px;
}
