.container {
  margin: 0 auto 0 auto;
  /* display: flex; */
  justify-content: center;
  /* padding: 50px; */
}

.btn-info {
  margin: 10px;
}

.newContainer {
  margin: 10px;
}

.para {
  line-height: 20px;
}

ul {
  text-decoration: none;
  list-style: none;
}

li {
  text-decoration: none;
}
